<%- include("partials/header") %>

        <h1>Instructions</h1>
        <p><%= startingContent %></p>

        <% if (blogPosts.length > 0) { %>
            <hr>
            <% blogPosts.forEach((post) => { %>
                <h1><%= post.blogPostTitle %></h1>
                <p>
                    <%= post.blogPostBody.substring(0, 100) + " " %>
                    <% if (post.blogPostBody.length > 100) { %>
                        <span> ...</span>
                    <% } %>
                    <a href="/posts/<%= post.blogPostTitle %>" style="margin-left: 8px;"> Read More</a>
                </p>
            <% }); %>
        <% }; %>

<%- include("partials/footer") %>